@import "tailwindcss";

.header{
    display: flex;
    margin-top: 10px;
    font-size: larger;
    font-weight: 600;
    margin-left: 20px;
    box-sizing: border-box;
 

}
.buttons_home{
    display: flex;
    margin-left: auto;
    gap: 20px;
    margin-right: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    height: max-content;
}
.card{
    
    padding: 20px;
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    box-shadow: 0px 0px 10px 0px rgba(207, 203, 203, 0.75);
    padding: 50px;
    align-content: center;
    text-align: center;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.button-orders{
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(207, 203, 203, 0.75);
    margin-top: 20px;
    color: black;
    border-radius: 10px;
    font-size: larger;
    
    
}

.order{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 1120px;
    
}
hr{
    margin-top: 10px;
}

.title{
    margin-top: 10px;
    font-size: 35px;

}
.cart1{
    margin-left: 20px;
    box-sizing: border-box;
    height: max-content;
    width: max-content;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(207, 203, 203, 0.75);
    margin-top: 20px;
    color: black;
    border-radius: 10px;
    font-size: larger;
    margin-left: 980px;
}